h1{
    color: goldenrod;
    border-bottom: 0.1rem solid goldenrod;

}
article{
    width: 552px;
}
textarea, input{
    display: block;
}

table {
    border-collapse: collapse;
    width: 550px;
}

th,td {
    border: 1px solid black;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

thead {
    background-color: goldenrod;
    color: aliceblue;
    width: 550px;
}
form{
    width: 552px;
    height: 500px;
}
